.root {
  border: 1px solid green;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rightSide {
  display: flex;
  align-items: center;
}
