.root {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rightSide {
  display: flex;
  align-items: center;
}

.description {
  color: var(--gray-text);
}

.progress {
  margin: 0 24px 0 16px;
}

.button {
  width: 40px;
}
