.applicationManageRoot {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.content {
  display: flex;
  gap: 32px;

  @media (max-width: 700px) {
    flex-direction: column;
    gap: 22px;
  }
}

.card {
  height: 601px !important;
}
