.h1 {
  font-family: "Fixel Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.02em;
}

.h2 {
  font-family: "Fixel Display";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
}

.default {
  font-family: "Fixel Text";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.caption {
  font-family: "Fixel Text";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
